<a href="https://colab.research.google.com/github/josharsh/DeepLearning/blob/master/Regression%20Model/LinearRegressionUsingDL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [3]:
data.shape

(1030, 9)

In [4]:
data.describe()

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    281.167864           73.895825  ...    45.662136    35.817961
std     104.506364           86.279342  ...    63.169912    16.705742
min     102.000000            0.000000  ...     1.000000     2.330000
25%     192.375000            0.000000  ...     7.000000    23.710000
50%     272.900000           22.000000  ...    28.000000    34.445000
75%     350.000000          142.950000  ...    56.000000    46.135000
max     540.000000          359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

In [5]:
data.describe()

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    281.167864           73.895825  ...    45.662136    35.817961
std     104.506364           86.279342  ...    63.169912    16.705742
min     102.000000            0.000000  ...     1.000000     2.330000
25%     192.375000            0.000000  ...     7.000000    23.710000
50%     272.900000           22.000000  ...    28.000000    34.445000
75%     350.000000          142.950000  ...    56.000000    46.135000
max     540.000000          359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

In [6]:
data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [7]:
data.columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [0]:
predictors=data[data.columns[data.columns!="Strength"]]

In [0]:
target=data["Strength"]

In [13]:
predictors

      Cement  Blast Furnace Slag  ...  Fine Aggregate  Age
0      540.0                 0.0  ...           676.0   28
1      540.0                 0.0  ...           676.0   28
2      332.5               142.5  ...           594.0  270
3      332.5               142.5  ...           594.0  365
4      198.6               132.4  ...           825.5  360
...      ...                 ...  ...             ...  ...
1025   276.4               116.0  ...           768.3   28
1026   322.2                 0.0  ...           813.4   28
1027   148.5               139.4  ...           780.0   28
1028   159.1               186.7  ...           788.9   28
1029   260.9               100.5  ...           761.5   28

[1030 rows x 8 columns]

In [14]:
target

0       79.99
1       61.89
2       40.27
3       41.05
4       44.30
        ...
1025    44.28
1026    31.18
1027    23.70
1028    32.77
1029    32.40
Name: Strength, Length: 1030, dtype: float64

In [15]:
predictors.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Coarse Aggregate  Fine Aggregate  Age
0   540.0                 0.0      0.0  ...            1040.0           676.0   28
1   540.0                 0.0      0.0  ...            1055.0           676.0   28
2   332.5               142.5      0.0  ...             932.0           594.0  270
3   332.5               142.5      0.0  ...             932.0           594.0  365
4   198.6               132.4      0.0  ...             978.4           825.5  360

[5 rows x 8 columns]

In [16]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

In [0]:
n_cols = predictors_norm.shape[1]

In [0]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [0]:

def regression_model():
  model=Sequential()
  model.add(Dense(50,activation='relu',input_shape=(n_cols,)))
  model.add(Dense(50,activation='relu'))
  model.add(Dense(1))
  model.compile(optimizer='adam',loss='mean_squared_error')
  return model

In [0]:
model=regression_model()

In [33]:
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Train on 721 samples, validate on 309 samples
Epoch 1/100
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

 - 1s - loss: 1652.8289 - val_loss: 1141.6555
Epoch 2/100
 - 0s - loss: 1501.8088 - val_loss: 1004.0613
Epoch 3/100
 - 0s - loss: 1262.0369 - val_loss: 797.5560
Epoch 4/100
 - 0s - loss: 918.4962 - val_loss: 546.4883
Epoch 5/100
 - 0s - loss: 554.0500 - val_loss: 325.6023
Epoch 6/100
 - 0s - loss: 316.4232 - val_loss: 213.2781
Epoch 7/100
 - 0s - loss: 246.9775 - val_loss: 188.5848
Epoch 8/100
 - 0s - loss: 231.0400 - val_loss: 188.2254
Epoch 9/100
 - 0s - loss: 219.3187 - val_loss: 180.4450
Epoch 10/100
 - 0s - loss: 209.9170 - val_loss: 179.5878
Epoch 11/100
 - 0s - loss: 201.3845 - val_loss: 177.6065
Epoch 12/100
 - 0s - loss: 194.8454 - val_loss: 173.8862
Epoch 13/100
 - 0s - loss: 189.4891 - val_loss: 170.9889
Epoch 14/100
 - 0s - loss: 184.6725 - val_loss: 170.1246
Epoch 15/100
 - 0s - loss: 179.9507 - val_loss: 166.2033
Epoch 16/100
 - 0s - loss: 174.8500 - val_loss: 166.7363
Epoch 17/100
 - 0s - loss: 172.1274 - val_loss: 165.8643
Epoch 18/100
 - 0s - loss: 168.3304 - val_loss: 163.7591
Epoch 19/100
 - 0s - loss: 165.8228 - val_loss: 163.0530
Epoch 20/100
 - 0s - loss: 162.8605 - val_loss: 163.0355
Epoch 21/100
 - 0s - loss: 159.8350 - val_loss: 161.1621
Epoch 22/100
 - 0s - loss: 157.4250 - val_loss: 161.2959
Epoch 23/100
 - 0s - loss: 155.7741 - val_loss: 160.4683
Epoch 24/100
 - 0s - loss: 153.1226 - val_loss: 158.2457
Epoch 25/100
 - 0s - loss: 151.1583 - val_loss: 159.4866
Epoch 26/100
 - 0s - loss: 149.4722 - val_loss: 159.5914
Epoch 27/100
 - 0s - loss: 146.8665 - val_loss: 159.3414
Epoch 28/100
 - 0s - loss: 145.2698 - val_loss: 158.4845
Epoch 29/100
 - 0s - loss: 143.3272 - val_loss: 160.3964
Epoch 30/100
 - 0s - loss: 142.0191 - val_loss: 158.7015
Epoch 31/100
 - 0s - loss: 140.1788 - val_loss: 158.6877
Epoch 32/100
 - 0s - loss: 138.1617 - val_loss: 158.1466
Epoch 33/100
 - 0s - loss: 136.5082 - val_loss: 159.3917
Epoch 34/100
 - 0s - loss: 134.7411 - val_loss: 159.0214
Epoch 35/100
 - 0s - loss: 133.6173 - val_loss: 157.1039
Epoch 36/100
 - 0s - loss: 131.7699 - val_loss: 159.9196
Epoch 37/100
 - 0s - loss: 129.0305 - val_loss: 158.8856
Epoch 38/100
 - 0s - loss: 127.6940 - val_loss: 160.6889
Epoch 39/100
 - 0s - loss: 125.5540 - val_loss: 157.5135
Epoch 40/100
 - 0s - loss: 123.4330 - val_loss: 160.6088
Epoch 41/100
 - 0s - loss: 121.6459 - val_loss: 160.5451
Epoch 42/100
 - 0s - loss: 119.5086 - val_loss: 156.3520
Epoch 43/100
 - 0s - loss: 117.3853 - val_loss: 158.5388
Epoch 44/100
 - 0s - loss: 115.2493 - val_loss: 156.2188
Epoch 45/100
 - 0s - loss: 112.7791 - val_loss: 156.8597
Epoch 46/100
 - 0s - loss: 110.9682 - val_loss: 155.4051
Epoch 47/100
 - 0s - loss: 108.3276 - val_loss: 152.8402
Epoch 48/100
 - 0s - loss: 105.8621 - val_loss: 154.0007
Epoch 49/100
 - 0s - loss: 103.2558 - val_loss: 153.4804
Epoch 50/100
 - 0s - loss: 100.9241 - val_loss: 153.7982
Epoch 51/100
 - 0s - loss: 98.9573 - val_loss: 151.0482
Epoch 52/100
 - 0s - loss: 95.8792 - val_loss: 153.4007
Epoch 53/100
 - 0s - loss: 94.2390 - val_loss: 144.9414
Epoch 54/100
 - 0s - loss: 90.8891 - val_loss: 146.9134
Epoch 55/100
 - 0s - loss: 87.7844 - val_loss: 142.7277
Epoch 56/100
 - 0s - loss: 84.9870 - val_loss: 143.4867
Epoch 57/100
 - 0s - loss: 81.8038 - val_loss: 138.8034
Epoch 58/100
 - 0s - loss: 79.2205 - val_loss: 135.5728
Epoch 59/100
 - 0s - loss: 76.9957 - val_loss: 133.0286
Epoch 60/100
 - 0s - loss: 73.4911 - val_loss: 132.6876
Epoch 61/100
 - 0s - loss: 70.9556 - val_loss: 133.9342
Epoch 62/100
 - 0s - loss: 68.3973 - val_loss: 139.0285
Epoch 63/100
 - 0s - loss: 66.3894 - val_loss: 132.8074
Epoch 64/100
 - 0s - loss: 63.8254 - val_loss: 130.2899
Epoch 65/100
 - 0s - loss: 61.9594 - val_loss: 134.5683
Epoch 66/100
 - 0s - loss: 60.8881 - val_loss: 128.6500
Epoch 67/100
 - 0s - loss: 58.0974 - val_loss: 134.0219
Epoch 68/100
 - 0s - loss: 56.6648 - val_loss: 127.9062
Epoch 69/100
 - 0s - loss: 54.8435 - val_loss: 134.5733
Epoch 70/100
 - 0s - loss: 54.1305 - val_loss: 127.5887
Epoch 71/100
 - 0s - loss: 52.5536 - val_loss: 129.9823
Epoch 72/100
 - 0s - loss: 51.4409 - val_loss: 132.3749
Epoch 73/100
 - 0s - loss: 50.6272 - val_loss: 127.0083
Epoch 74/100
 - 0s - loss: 49.1188 - val_loss: 133.1989
Epoch 75/100
 - 0s - loss: 47.9458 - val_loss: 125.4888
Epoch 76/100
 - 0s - loss: 48.0505 - val_loss: 128.3696
Epoch 77/100
 - 0s - loss: 46.2930 - val_loss: 128.9936
Epoch 78/100
 - 0s - loss: 45.6420 - val_loss: 128.3026
Epoch 79/100
 - 0s - loss: 45.4610 - val_loss: 133.0615
Epoch 80/100
 - 0s - loss: 44.4316 - val_loss: 132.8657
Epoch 81/100
 - 0s - loss: 43.7103 - val_loss: 124.0990
Epoch 82/100
 - 0s - loss: 43.5626 - val_loss: 135.6614
Epoch 83/100
 - 0s - loss: 42.2416 - val_loss: 129.3472
Epoch 84/100
 - 0s - loss: 41.9428 - val_loss: 132.4867
Epoch 85/100
 - 0s - loss: 41.3411 - val_loss: 133.9301
Epoch 86/100
 - 0s - loss: 41.3483 - val_loss: 137.5378
Epoch 87/100
 - 0s - loss: 41.0968 - val_loss: 138.0518
Epoch 88/100
 - 0s - loss: 40.0055 - val_loss: 135.0661
Epoch 89/100
 - 0s - loss: 39.8499 - val_loss: 130.3663
Epoch 90/100
 - 0s - loss: 39.2321 - val_loss: 137.7578
Epoch 91/100
 - 0s - loss: 39.1805 - val_loss: 131.6402
Epoch 92/100
 - 0s - loss: 38.5781 - val_loss: 136.6490
Epoch 93/100
 - 0s - loss: 38.1414 - val_loss: 139.5872
Epoch 94/100
 - 0s - loss: 37.9234 - val_loss: 133.5865
Epoch 95/100
 - 0s - loss: 37.2522 - val_loss: 139.9741
Epoch 96/100
 - 0s - loss: 37.3047 - val_loss: 126.6594
Epoch 97/100
 - 0s - loss: 36.9037 - val_loss: 142.5745
Epoch 98/100
 - 0s - loss: 36.6432 - val_loss: 138.3646
Epoch 99/100
 - 0s - loss: 36.3332 - val_loss: 135.9932
Epoch 100/100
 - 0s - loss: 35.9539 - val_loss: 135.8567